@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+MX+Guides&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

.playwrite-logo{
  font-family: "Playwrite MX Guides",;
  font-weight: 400;
  font-style: normal;
}

.newsletter-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    background: linear-gradient(135deg, #f59e0b, #d97706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
